.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
data/*
inst/extdata/*.csv
!inst/extdata/CA_especes_en_peril.csv
!inst/extdata/QC_especes_en_peril.csv
inst/extdata/img/*.jpg
inst/extdata/img/*.png
inst/extdata/img/*
